body {
  background: #ebe9d7;
  color: #383743;
  font-family: Roboto;
}

.bold  {
  font-weight: bold;
}

.fill-available {
  width: -webkit-fill-available;
}

.m-t {
  margin-top: 1vh;
}

.g-m-t {
  margin-top: 3vh;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

.login {
  display: flex;
  justify-content: center;
  padding: 20vh 20vw;

  .component {
    max-width: 480px;
  }

  .input-field {
    label {
      color: #EF5781;
    }
    input {
      &:focus {
        + label {
          color: #EF5781;
        }
        border-bottom: 1px solid #EF5781;
        box-shadow: 0 1px 0 0 #EF5781;
      }
    }
    .prefix {
      color: #EF5781;
    }
  }
}

.home {
  nav {
    background-image: linear-gradient(#ee4c77, #BB3C67);

    .nav-wrapper {
      justify-content: center;
      align-items: center;
      display: flex;

      .logo-nav {
        height: 60%;
      }
    }
  }

  .not-found {
    font-size: 20px;
    text-align: center;
  }

  .detalhes {
    padding: 2em 2em 0;
    width: 100%;
    .card {
      .title {
        background-color: #7DC075;
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 80px;
        font-size: 24px;
      }
      .description {
        margin-top: 15px;
      }
    }
  }

  .empresas {
    padding: 2em 2em 0;
    width: 100%;
    flex-wrap: wrap;
    * {
      flex-wrap: wrap;
    }

    .filtro {
      background: white;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
      padding: 0 10px;

      .fields {
        margin-bottom: 0;
        .input-field {
          margin-bottom: 0;
        }
      }

      .btn-filtro {
        margin-bottom: 10px;
        margin-right: 10px;
      }

    }

    .card {
      cursor: pointer;
      // > :hover{
      //   transform: scale(1.02);
      //   transition-property: 2s;
      // }

      .card.horizontal {
        margin: 0;
        padding: 15px;

        .card-title {
          width: 30%;
          margin-right: 15px;

          .title {
            background-color: #7DC075;
            color: white;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            height: 100%;
          }
        }

        .card-stacked {
          padding: 15px 0;

          .name {
            font-size: 24px;
            font-weight: bold;
          }

          .type {
            font-size: 20px;
          }
        }
      }
    }

  }
}
