.home(ng-app="empresasWeb", ng-controller='home')
  nav
    .nav-wrapper
      img.logo-nav.center(src='/img/logo-nav.png')

  .empresas(ng-if="!showEmpresa")
    .form.filtro
      .row.fields
        .input-field.col.s6
          input#nome(placeholder="Nome da Empresa" ng-model="search.nome", type="text" )
        .input-field.col.s6
          input#tipo(placeholder="Tipo" ng-model="search.tipo", type="text")
      .row
        .right.m-t
          a.waves-effect.waves-teal.btn-flat.btn-filtro(ng-click="clearSearch()") Limpar
          button.waves-effect.waves-light.btn-small.btn-filtro(type="submit", ng-click="buscar()")
            i.material-icons.right search
            | pesquisar

    .card(ng-if="empresas.length > 0", ng-repeat="empresa in empresas")
      .card.horizontal(ng-click="showDetails(empresa.id)")
        .card-title
          .title
            span {{ empresa.enterprise_name }}
        .card-stacked
          .name {{ empresa.enterprise_name }}
          .type {{ empresa.enterprise_type.enterprise_type_name }}
          .country {{ empresa.country }}

    p.not-found(ng-if="empresas.length === 0")
      | Nenhuma empresa foi encontrada com os dados informados.

  .detalhes(ng-if="showEmpresa")
    .card
      .card-content
        .title
          span {{ empresaSelecionada.enterprise.enterprise_name }}
        p.description {{ empresaSelecionada.enterprise.description }}
      .card-action
        a(ng-click="resetShowEmpresa()") Voltar
