.login(ng-app="empresasWeb", ng-controller='login')
  .component
    img.responsive-img(src='/img/logo-home@2x.png')
    form.g-m-t
      .row
        .input-field
          i.material-icons.prefix mail_outline
          input.validate#email(type='email', ng-model="data.email")
          label(for='email') E-mail
      .row
        .input-field
          i.material-icons.prefix lock_open
          input.validate#password(type='password', ng-model="data.password")
          label(for='password') Senha
      button.btn.waves-effect.waves-light.bold.fill-available(type="submit", ng-click="entrar()") Entrar